<h1>Purchases</h1>

<ul>
  <% @purchases.each do |purchase| %>

  <li><a href="/purchase/<%= purchase.id %>"><%=Date.parse(purchase.purchase_date().to_s).strftime('%B %d, %Y') %></a></li>
  <% end %>
</ul>

<form action="/purchases" method="post">
  <label for='purchase_date'>Add Purchase</label>
  <input type="text" name="purchase_date" placeholder='year/month/day'>
  <button type="submit">Add</button>
</form>
